@model IEnumerable<YangGuangTongXing.Announcement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Content
        </th>
        <th>
            Remark
        </th>
        <th>
            User
        </th>
        <th>
            UpdatedDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnnouncementId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnnouncementId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnnouncementId })
        </td>
    </tr>
}

</table>
