<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="../../Scripts/bootstrap-3.3.0-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.11.1.min.js"></script>
    <script src="../../Scripts/bootstrap-3.3.0-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="page" style="width: 960px; margin: 0 auto;">

        <div id="header">
            <div id="title">
                <a href="http://www.yangguangtongxing.com" title="公益助学平台,一对一捐助,助学支教">
                    <img src="../../Content/Images/banner.png" /></a>
                <div class="navBar">
                    <ul class="nav clearfix">
                        <li class="m">
                            <h3><a href="/home/index">首页</a></h3>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a href="/Contribute/index">我要捐助</a></h3>
                            <ul class="sub">
                                <li><a href="http://sc.chinaz.com/jiaoben/">捐助流程</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">结对捐助</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">实物捐助</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">项目捐助</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">捐助查询</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">信息反馈</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">捐助查询</a></li>
                            </ul>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://sc.chinaz.com/">财务公开</a></h3>
                            <ul class="sub">
                                <li><a href="http://sc.chinaz.com/jiaoben/">财务公开</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">捐助明细</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">支出明细</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">财务报告</a></li>
                            </ul>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://sc.chinaz.com/">新闻动态</a></h3>
                            <ul class="sub" style="display: none;">
                                <li><a href="http://sc.chinaz.com/jiaoben/">工作动态</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">图片新闻</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">公告通知</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">媒体报告</a></li>
                            </ul>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://sc.chinaz.com/" title="知识产权">志愿者系统</a></h3>
                            <ul class="sub" style="display: none;">
                                <li><a href="http://sc.chinaz.com/jiaoben/">申请须知</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">开始申请</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">个人信息</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">志愿者列表</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">感谢和说明</a></li>
                            </ul>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://sc.chinaz.com/" title="上市服务">相册</a></h3>
                            <ul class="sub" style="display: none;">
                                <li><a href="http://sc.chinaz.com/jiaoben/">山里孩子</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">西部风情</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">志愿者工作</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">历届志愿者</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">网站荣誉栏</a></li>
                            </ul>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://sc.chinaz.com/">志愿者博文</a></h3>
                            <ul class="sub" style="display: none;">
                                <li><a href="http://sc.chinaz.com/jiaoben/" title="服务纪实">服务纪实</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/" title="走访报告">走访报告</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/" title="感悟西部">感悟西部</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/" title="调查研究">调查研究</a></li>
                            </ul>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="http://sc.chinaz.com/">捐助问答</a></h3>
                            <ul class="sub" style="display: none;">
                                <li><a href="http://sc.chinaz.com/jiaoben/">意见建议</a></li>
                                <li><a href="http://sc.chinaz.com/jiaoben/">预约登记</a></li>
                            </ul>
                        </li>
                        <li class="s">|</li>
                        <li class="m">
                            <h3><a target="_blank" href="Contact.aspx">论坛</a></h3>
                        </li>
                        <li class="block" style="left: 251px;"></li>
                    </ul>
                </div>
                <script src="../../Scripts/menu/js/SuperSlide.2.1.js"></script>
                <script src="../../Scripts/menu/js/zzsc.js"></script>
            </div>

            @*<div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                </ul>
            </div>*@
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer" style="text-align:center; background-color:#36e84a;">
		<a href="http://www.yiedu.org">索玛花公益助学网</a> -
		<a href="/Intro/web/">关于索玛花</a> -
		<a href="/Index/linklist/">友情链接</a> -
		<a href="/Intro/contact/">联系我们</a> - 
		<a href="/Contri/index/">我要捐助</a>
		<br/>
		<a href="http://bbs.yiedu.org/space.php?uid=2">Powered by shunfang</a> | Copyright &copy; 2008-2014 | 协作单位:共青团金阳县委
		<a href="http://www.miibeian.gov.cn/">蜀ICP备08102610号</a>
		<a id="adLayerLeft" href="http://shop111141568.taobao.com/" target="_blank" title="爱心义卖"></a>
		<a id="adLayerRight" href="http://shop111141568.taobao.com/" target="_blank" title="爱心义卖"></a>
		
        </div>
    </div>
</body>
</html>
